<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MyDreamApp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/Views/my-dream-app/dist/inline.bundle.js"></script>
    <script type="text/javascript" src="~/Views/my-dream-app/dist/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/Views/my-dream-app/dist/styles.bundle.js"></script>
    <script type="text/javascript" src="~/Views/my-dream-app/dist/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/Views/my-dream-app/dist/main.bundle.js"></script>
</body>
</html>